<div class="row m-0 p-0">
  <div class="col m-0 p-0">
    <app-header-bar></app-header-bar>
  </div>
</div>
<div class="row m-0 p-0">
  <div class="col m-0 p-0">
    <app-welcome-cont></app-welcome-cont>
  </div>
</div>
<div class="row m-0 p-0">
  <div class="col m-0 p-0">
    <app-recipes-cont></app-recipes-cont>
  </div>
</div>
<div class="row m-0 p-0">
  <div class="col m-0 p-0" style="height: 200px">
  </div>
</div>
<div class="row m-0 p-0">
  <div class="col m-0 p-0">
    <app-footer-bar></app-footer-bar>
  </div>
</div>

<div class="row m-0 p-0" *ngIf="isMenuTriggered">
  <div class="col m-0 p-0">
    <app-menu-fullpage></app-menu-fullpage>
  </div>
</div>


